<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dirpaths" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="loggingFilename" value="Logger.log"/>
    <add key="loggingLevel" value="1"/>
  </appSettings>
  <dirpaths>
    <add key="../../../FileLogging/bin/Debug"/>
    <add key="../../../WPFPathFinder/bin/Debug"/>
   <add key="../../../WPFShowInfo/bin/Debug"/>
   <add key="../../../BusinessLogic/bin/Debug"/>
   <!-- <add key="../../../XMLData/bin/Debug"/> -->
   <add key="../../../DBData/bin/Debug"/>
  </dirpaths>

</configuration>